@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }


.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0; 
}

.background {
  width: 80%;
  height: 70%;
  background-color: #E5E5E5; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
  position: relative;
}


.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
}

.carousel img {
  max-width: 100%;
  max-height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}


.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #ccc; 
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #0D0C0C; 
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 20px; 
  background-color: white;
  border-bottom: #A5A2A2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid #E5E5E5;
  
}


.navbar {
  display: flex;
  gap: 20px;
  
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #dd2020;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #dd2020;
}

.navbar a:hover::before {
  width: 100%;
  transition: width 0.5s;
}


.hamburger {
  display: none; 
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger .line {
  width: 100%;
  height: 3px;
  background-color: #dd2020;
  border-radius: 2px;
}


@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    display: none; 
  }
  .login {
    display: none;
  }
  .navbar.open {
    display: flex; 
  }

  .hamburger {
    display: flex; 
  }
}